@charset "UTF-8";
a[href^="#"] {
  color: inherit;
  content: counter(attr(href, url), reference);
  text-decoration: none;
  }
  a[href^="#"].section {
    content: target-counter(attr(href, url), section); }
    a[href^="#"].section::before {
      content: "Section "; }
    a[href^="#"].section::after {
      content: ''; }
  a[href^="#"].subsection {
    content: target-counter(attr(href, url), section) "." target-counter(attr(href, url), subsection); }
    a[href^="#"].subsection::before {
      content: "Section "; }
    a[href^="#"].subsection::after {
      content: ''; }
  a[href^="#"].subsubsubsection {
    content: target-counter(attr(href, url), section) "." target-counter(attr(href, url), subsection) "." target-counter(attr(href, url), subsubsection) "." target-counter(attr(href, url), subsubsubsection); }
    a[href^="#"].subsubsubsection::before {
      content: "Section "; }
    a[href^="#"].subsubsubsection::after {
      content: ''; }
  a[href^="#"].figure {
    content: target-counter(attr(href, url), figure); }
    a[href^="#"].figure::before {
      content: "Figure "; }
    a[href^="#"].figure::after {
      content: ''; }
  a[href^="#"].table {
    content: target-counter(attr(href, url), table); }
    a[href^="#"].table::before {
      content: "Table "; }
    a[href^="#"].table::after {
      content: ''; }


a[href^="mailto:"]::after {
  content: ''; }
a[href^="http"]::after {
  content: ''; }

body {
  column-count: 1;
  column-gap: balance;
  column-gap: 0.33in;
  line-height: 2.0;
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt
  hyphens: auto;
  text-align: justify; }
  body > :first-child {
    counter-reset: table figure page 1; }

caption {
  caption-side: top;
  font-weight: bold;
  font-size: 125%;
  margin: 0 0 4pt; }
  caption::before {
    content: "Table " counter(table) ". "; }

.references {
  font-size: 85%; }

.quotes {
  margin-top: 10px;
  margin-bottom: 15px;
}

blockquote {
  font-size: 85%;
  border: 0px;
}

.quotes > blockquote {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

cite {
  break-inside: avoid;
  counter-increment: reference;
  display: block;
  font-style: normal;
  margin-left: 1.5em;
  text-indent: -1.5em;
  position: relative;
  text-align: left; }
  cite::before {
    /*content: "(" counter(reference) ")";*/
    display: inline-block;
    /*margin-left: -2.5em;*/
    position: absolute; }
  cite a {
    text-decoration: none; }

code {
  font-family: Courier, monospace;
  font-size: 0.88889 em;
  font-weight: 400;
  white-space: nowrap; }

figure {
  /*border: 1px solid black;*/
  counter-increment: figure;
  margin: 1.333em 0 2.333em;
  text-align: justify; }

.figure {
  text-align: center;
}

figcaption {
  font-size: 85%;
  font-weight: bold; }
  figcaption::before {
    content: "Figure " counter(figure) ". "; }

img {
  content: prince-fallback(attr(src, url)), url(http://placehold.it/150x150);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left; 
  break-after: avoid;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  hyphens: none; }
  h1:not(.counter-skip)::before,
  h2:not(.counter-skip)::before,
  h3:not(.counter-skip)::before,
  h4:not(.counter-skip)::before,
  h5:not(.counter-skip)::before,
  h6:not(.counter-skip)::before {
    margin-right: .5em; }

h1 {
  font-size: 200%;
  text-align: center; }

h2 {
  font-size: 160%; }

h3 {
  font-size: 130%;
  text-decoration: underline; }

h4 {
  font-size: 110%; }

h5 {
  font-size: 100%; }

h6 {
  font-size: 100%; }

html {
  font-size: 9pt; }

p {
  /*line-height: 1.17;*/
  margin: 0 0 0.5em;
  text-indent: 2.5em; }

q::before {
  content: '“'; }

q::after {
  content: '”'; }

q > q::before {
  content: '‘'; }

q > q::after {
  content: '’'; }

small {
  font-size: 0.77778 em; }

table {
  /*border-collapse: collapse;*/
  counter-increment: table;
  margin: 1.667em 0 1em;
  width: 100%; }

th {
  text-align: center;
  padding: 0.333em;
  font-size: 90%;
}

td {
  /*border: 0.5px solid #000;*/
  text-align: left;
  padding: 0.333em;
  font-size: 80%;
}



.footnote {
  font-family: "Times New Roman", Times, serif;
  counter-increment: footnote;
  float: prince-footnote;  /* column- */
  display: prince-footnote;
  text-align: left;
  text-indent: 0em;
  font-size: 85%;
  margin-left: .333em;
  padding-left: .667em; }
  .footnote::footnote-call {
    content: counter(footnote);
    font-size: 85%;
    line-height: none;
    vertical-align: super; }
  .footnote::footnote-marker {
    content: counter(footnote);
    font-size: 85%;
    footnote-style-position: inside; }


@page {
  size: 8.5in 11in;
  margin: 1in 0.75in 1in 0.75in;
  @top {
    content: counter(page); 
    text-align: right; }
  @footnotes {
    border-top: 0.5pt solid black;
    margin-top: 2em;
    columns: 1;
    padding-top: 1em; } }
        

span[class=".citet"] > a,
span[class=".citep"] > a,
a[class=".citet"],
a[class=".citep"] {
  content: target-counter(attr(href, url), reference); }



.citep::before {
  content: "(" !important; }

.citep::after {
  content: ")" !important; }

.citep > :not(:first-child)::before {
  content: none; }

.citep > :not(:last-child)::after {
  content: ", "; }

.citet > :not(:first-child)::before {
  content: none; }

.citet > :not(:last-child)::after {
  content: ", "; }

.col-1 {
  column-count: 1; }

.col-2 {
  column-count: 2; }

.col-3 {
  column-count: 3; }

.col-4 {
  column-count: 4; }

.col-span {
  column-span: all; }

.col-break-after {
  break-after: always; }

.col-break-before {
  break-after: always; }

.counter-skip h1::before,
.counter-skip h2::before,
.counter-skip h3::before,
.counter-skip h4::before,
.counter-skip h5::before,
.counter-skip h6::before {
  content: "" !important;
  margin-right: 0 !important; }

h1:not(.counter-skip) {
  counter-increment: section; }

h2:not(.counter-skip) {
  counter-increment: subsection; }

h3:not(.counter-skip) {
  counter-increment: subsubsection; }

h4:not(.counter-skip) {
  counter-increment: subsubsection; }

h5:not(.counter-skip) {
  counter-increment: subsubsubsection; }

h6:not(.counter-skip) {
  counter-increment: subsubsubsubsection; }

h1.counter-reset {
  counter-increment: section; }

h2.counter-reset {
  counter-increment: subsection; }

h3.counter-reset {
  counter-increment: subsubsection; }

h4.counter-reset {
  counter-increment: subsubsection; }

h5.counter-reset {
  counter-increment: subsubsubsection; }

h6.counter-reset {
  counter-increment: subsubsubsubsection; }

h1:not(.counter-skip)::before {
  content: "" "" counter(section, decimal) ""; }

h2:not(.counter-skip)::before {
  content: "" "" counter(section, decimal) "." counter(subsection, decimal) ""; }

h3:not(.counter-skip)::before {
  content: "" "" counter(section, decimal) "." counter(subsection, decimal) "." counter(subsubsection, decimal) ""; }

h4:not(.counter-skip)::before {
  content: "" "" counter(section, decimal) "." counter(subsection, decimal) "." counter(subsubsection, decimal) "." counter(subsubsection, decimal) ""; }

h5:not(.counter-skip)::before {
  content: "" "" counter(section, decimal) "." counter(subsection, decimal) "." counter(subsubsection, decimal) "." counter(subsubsection, decimal) "." counter(subsubsubsection, decimal) ""; }

h6:not(.counter-skip)::before {
  content: "" "" counter(section, decimal) "." counter(subsection, decimal) "." counter(subsubsection, decimal) "." counter(subsubsection, decimal) "." counter(subsubsubsection, decimal) "." counter(subsubsubsubsection, decimal) ""; }

.page-break-after {
  break-after: always; }

.page-break-before {
  break-after: always; }

h1,
h2 {
  margin: 1.33333 em 0 0; }

/*h1 {
  text-transform: uppercase; }*/

h1:not(.counter-skip)::before {
  content: "" counter(section) "."; }

h1 + h2,
h1 + * > h2:first-child {
  margin-top: 0; }


h3,
h4 {
  font-style: italic;
  font-weight: normal;
  margin: 1.33333 em 0 0; }

header {
  column-span: all;
  font-family: Helvetica, sans-serif;
  margin-bottom: 4em; }
  header h2 {
    font-size: 1.333em;
    font-weight: normal;
    margin: 2em 0;
    text-align: center; }

.abstract {
  line-height: 1.17;
  margin: 0.7in; }

.title {
  column-span: all;
  font-family: Helvetica, sans-serif;
  font-size: 22pt;
  margin: 0 0 .333em;
  text-align: center;
  text-transform: none; }

.subtitle {
  column-span: all;
  font-family: Helvetica, sans-serif;
  font-size: 18pt;
  margin: 0 0 .333em;
  text-align: center;
  text-transform: none; }


.authors {
  column-gap: 0; }
  .authors + .authors {
    margin-top: 6pt; }

.author {
  break-inside: avoid;
  break-after: always;
  font-size: 10pt;
  text-align: center; }
  .author a {
    color: inherit;
    text-decoration: none; }
  .author > :first-child,
  .author > :last-child {
    font-size: 12pt; }

.copyright {
  float: column-bottom;
  font-size: 8pt;
  height: 1.5in; }
  .copyright > * {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 3.333in; }

cite {
  margin-bottom: .333em;
  text-align: left; }
  cite a {
    text-decoration: none; }

.appendix {
  counter-reset: section; }
  .appendix h1:not(.counter-skip)::before {
    content: "" counter(section, upper-alpha) ""; }
  .appendix h2:not(.counter-skip)::before {
    content: "" counter(section, upper-alpha) "." counter(subsection, decimal) ""; }
  .appendix h3:not(.counter-skip)::before {
    content: "" counter(section, upper-alpha) "." counter(subsection, decimal) "." counter(subsubsection, decimal) ""; }

.equation {
  margin: 3pt 0;
  text-align: center; }
  .equation:not(.displaymath) {
    counter-increment: equation;
    position: relative; }
    .equation:not(.displaymath)::after {
      bottom: 50%;
      content: "(" counter(equation) ")";
      line-height: 0;
      position: absolute;
      right: 0;
      top: 50%; }


.theorem,
.proof,
.definition {
  margin: 12pt 0; }
  .theorem::before,
  .proof::before,
  .definition::before {
    margin-left: 9pt; }

.theorem {
  font-style: italic; }
  .theorem::before {
    content: "Theorem " counter(theorem) ". ";
    counter-increment: theorem;
    font-style: normal;
    font-variant: small-caps; }

.proof::before {
  content: "Proof " counter(proof) ". ";
  counter-increment: proof;
  font-style: normal;
  font-variant: small-caps; }

.definition::before {
  content: "Definition " counter(definition) ". ";
  counter-increment: definition;
  font-style: italic; }

@media screen {
  .authors {
    column-count: 3; }
  .copyright {
    display: none; } }
